beautifulsoup4
bokeh
cryptography
dash
dash-auth
datashader
flask-caching
h5py==2.10.0
hyperopt>=0.1.2
ipympl
ipywidgets>=7.5.1
jupyterlab
lxml
neurokit2
openpyxl
pydot>=1.2.4
pygraphviz
pylint
pyodbc
pytz
scikit-image
scikit-learn
seaborn>=0.10.1
tabulate
tensorflow-addons==0.11.2
tensorflow-probability==0.11.1
tqdm
unidecode
xgboost
xmltodict
cryptography
gym
ray
ray[tune]
